<section id="references">
	<div class="container">
		<h2 class="section-title wow fadeInUp">References</h2>
		<div class="row">
			<div class="testimonials">
				<div class="row ">
					<div class="col-md-12">
						<div class="testi clearfix ">
							<ul id="testimonial-carousel">
								<li *ngFor="let reference of referenceList">
									<div class="block-quote">
										<div class="block-img"><img alt="" src="../../assets/images/{{reference.ImageUrl}}"></div>
										<div class="block-icon"><i class="fa fa-quote-right"></i></div>
										<h3 class="block-profile">{{reference.Name}}<span> {{reference.Occupation}} @ {{reference.Company}}</span></h3>
										<blockquote>{{reference.QuoteText}}</blockquote>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>