<!--<div class="content">
	<div class="block-content">
		<div class="testimonials">
			<div class="row">
				<div class="col-md-12">
					<div class="testi clearfix">
						<ul id="testimonial-carousel" class="owl-carousel owl-theme" >
							<div class="owl-wrapper-outer">
								<div class="owl-wrapper">
									<div class="owl-item" >
										<li>
											<div class="block-quote">
												<div class="block-img"><img alt="" src="../../assets/images/testimage1.jpg"></div>
												<div class="block-icon"><i class="icon-quote"></i></div>
												<h3 class="block-profile">Marcus Carlsson <span> | Fullstack Developer | Ovo Energy</span></h3>
												<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum neque et, ratione incidunt dolores cupiditate alias reprehenderit, natus quidem, nesciunt adipisci itaque! Repudiandae, amet? Laboriosam at doloribus beatae ab, temporibus.</blockquote>
											</div>
										</li>
									</div>
									<div class="owl-item" >
										<li>
											<div class="block-quote">
												<div class="block-img"><img alt="" src="../../assets/images/testimage2.jpg"></div>
												<div class="block-icon"><i class="icon-quote"></i></div>
												<h3 class="block-profile">Jonas Enander<span> | School Director | EC Utbildning</span></h3>
												<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum neque et, ratione incidunt dolores cupiditate alias reprehenderit, natus quidem, nesciunt adipisci itaque! Repudiandae, amet? Laboriosam at doloribus beatae ab, temporibus.</blockquote>
											</div>
										</li>
									</div>
								</div>
							</div>
							<div class="owl-controls clickable">
								<div class="owl-pagination">
									<div class="owl-page active"><span class=""></span></div>
									<div class="owl-page"><span class=""></span></div>
								</div>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->
<section id="references">
	<div class="container">
		<h2 class="section-title wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">References</h2>
		<div class="row">
			<div class="testimonials">
				<div class="row ">
					<div class="col-md-12">
						<div class="testi clearfix ">
							<ul id="testimonial-carousel">
								<li>
									<div class="block-quote">
										<div class="block-img"><img alt="" src="../../assets/images/marcus.jpg"></div>
										<div class="block-icon"><i class="fa fa-quote-right"></i></div>
										<h3 class="block-profile">Marcus Carlsson <span> Fullstack Developer | Ovo Energy</span></h3>
										<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum neque et, ratione incidunt dolores cupiditate alias
											reprehenderit, natus quidem, nesciunt adipisci itaque! Repudiandae, amet? Laboriosam at doloribus beatae ab, temporibus.</blockquote>
									</div>
								</li>
								<li>
									<div class="block-quote">
										<div class="block-img"><img alt="" src="../../assets/images/jonas.jpg"></div>
										<div class="block-icon"><i class="fa fa-quote-right"></i></div>
										<h3 class="block-profile">Jonas Enander <span> School Director | EC Utbildning</span></h3>
										<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum neque et, ratione incidunt dolores cupiditate alias
											reprehenderit, natus quidem, nesciunt adipisci itaque! Repudiandae, amet? Laboriosam at doloribus beatae ab, temporibus.</blockquote>
									</div>
								</li>
								<li>
									<div class="block-quote">
										<div class="block-img"><img alt="" src="../../assets/images/anders.jpg"></div>
										<div class="block-icon"><i class="fa fa-quote-right"></i></div>
										<h3 class="block-profile">Anders Persson <span> Team Director | IT-Mastaren</span></h3>
										<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum neque et, ratione incidunt dolores cupiditate alias
											reprehenderit, natus quidem, nesciunt adipisci itaque! Repudiandae, amet? Laboriosam at doloribus beatae ab, temporibus.</blockquote>
									</div>
								</li>
								<li>
									<div class="block-quote">
										<div class="block-img"><img alt="" src="../../assets/images/michel.jpg"></div>
										<div class="block-icon"><i class="fa fa-quote-right"></i></div>
										<h3 class="block-profile">Michel Ishak<span> Developer | IT-Mastaren</span></h3>
										<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum neque et, ratione incidunt dolores cupiditate alias
											reprehenderit, natus quidem, nesciunt adipisci itaque! Repudiandae, amet? Laboriosam at doloribus beatae ab, temporibus.</blockquote>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>