<section id="technologies" class="technologies-section section-padding">
	<div class="container">
		<h2 class="section-title wow fadeInUp">Technologies</h2>
		<div class="row technologies-wrap">
			<div class="col-sm-6 col-md-3">
				<a target="_blank" href="https://github.com/Rickardkamel/Ionic-App">
					<div class="technologies-box">
						<div class="tech-visible">
							<i class="icon-tech fa fa-code"></i>
							<br>
							<h3 class="text-tech">Ionic + Angular JS</h3>
						</div>
						<img class="tech-logo-ng-ionic" src="../../assets/images/angular-ionic-logo.png">
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-3">
				<a target="_blank" href="">
					<div class="technologies-box">
						<div class="tech-visible">
							<i class="icon-tech fa fa-code"></i>
							<br>
							<h3 class="text-tech">Angular 2</h3>
						</div>
						<img class="tech-logo-angular" src="../../assets/images/ng2-logo.png">
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-3">
				<a target="_blank" href="">
					<div class="technologies-box">
						<div class="tech-visible">
							<i class="icon-tech fa fa-code"></i>
							<br>
							<h3 class="text-tech">C# MVC</h3>
						</div>
						<img class="tech-logo-chash" src="../../assets/images/chash-logo.png">
					</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-3">
				<a target="_blank" href="">
					<div class="technologies-box">
						<div class="tech-visible">
							<i class="icon-tech fa fa-cloud"></i>
							<br>
							<h3 class="text-tech">C# RESTful API</h3>
						</div>
						<img class="tech-logo-api" src="../../assets/images/rest-logo.png">
					</div>
				</a>
			</div>
		</div>
	</div>
</section>