<section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2" style="height: 1126px; background-position: 50% -83.6px;">
		<div class="intro">
			<div class="intro-sub">Rickard Kamel</div>
			<h1>Aspiring Fullstack <span>Developer</span></h1>
			<p>Developer undergoing .Net education <br> with passion for JavaScript</p>

      <div class="social-icons">
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
        </ul>
      </div> <!-- /.social-icons -->
		</div>

		<div class="mouse-icon">
			<div class="wheel"></div>
		</div>
	</section>