<section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
	<div class="intro">
		<div class="intro-sub">Rickard Kamel</div>
		<h1>Fullstack <span>Developer</span></h1>
		<p>Developer undergoing .Net education <br> with passion for JavaScript</p>

		<div class="social-icons">
			<ul class="list-inline">
				<li><a href="https://www.facebook.com/rickardkamel"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/rickardkamel"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://github.com/rickardkamel"><i class="fa fa-github"></i></a></li>
				<li><a href="https://www.linkedin.com/in/rickard-kamel-6a9993108"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#contact"><i class="fa fa-envelope-o"></i></a></li>
			</ul>
		</div>
		<!-- /.social-icons -->
	</div>

	<div class="mouse-icon">
		<div class="wheel"></div>
	</div>
</section>